.managers_resistration {
    position: absolute;
    inset: 0;
    background-color: #fbefd8;
}

.managers_registration__inner {
    padding-top: 80px;
}

.page_title {
    font-size: 32px;
    font-weight: normal;
    text-align: center;
}

.managers_registration__form {
    background-color: white;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 2px 2px 12px #aea696;
    padding: 40px;
    margin: 24px auto 0;
}

.shop-creation-form__table {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: left;
}

[class^="form__managers_"] > th {
    height: 60px;
    width: 50%;
}

[class^="input"] {
    width: 100%;
    resize: vertical;
}

.shop_description {
    width: 100%;
    border: solid 1px grey;
}

.btn__registration {
    display: block;
    margin: 32px auto 0;
}

.btn__back{
    display: block;
    text-align: center;
    margin-top: 32px;
}

.error {
    font-size: 10px;
    color: tomato;
}
