:root {
    --shadow: #969696;
}

.shop-detail {
    background-color: #ededed;
    min-height: 100vh;
    padding: 40px 0;
}

.shop-detail__inner {
    width: calc(100% - 80px);
    max-width: 1360px;
    margin: 0 auto;

    @media(min-width: 768px) {
        display: flex;
        gap: 10%;
    }
}

.detail-block__left {
    width: 100%;

    @media(min-width: 768px) {
        width: 45%;
    }
}

.detail-block__right {

    margin-top: 40px;
    width: 100%;
    position: relative;
    background-color: #4553ff;
    border-radius: 8px;
    box-shadow: 4px 4px 4px var(--shadow);

    @media(min-width: 768px) {
        margin-top: 0;
        width: 45%;
    }
}

.btn-menu {
    margin-bottom: 32px;
}

.shop-info {
    display: flex;
    flex-direction: column;
}

.shop-info__heading {
    display: flex;
    gap: 12px;
    align-items: center;

    >.btn-back {
        padding: 4px 8px;
        background-color: white;
        border-radius: 4px;
        border: none;
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: bold;
        box-shadow: 2px 2px 2px var(--shadow);
        transform: translateY(8px);
    }

    >.shop_name {
        font-size: 32px;
    }
}

.shop_image {
    width: 100%;

    >img {
        width: 100%;
        object-fit: cover;
    }
}

.shop_description,
p {
    overflow-wrap: break-word;
}

.shop_name,
.shop_image,
.shop_tags,
.shop_description {
    margin-top: 24px;
}

.reservation-panel {
    width: 100%;
    padding-top: 32px;
}

.form-title {
    font-size: 24px;
    color: white;
}

[class*='form-elements'] {
    padding: 0 40px 0 24px;

    >li {
        list-style: none;
        margin-bottom: 24px;
        padding: 0;

        >input,
        select {
            padding: 8px;
            border: none;
            border-radius: 8px;
        }

        .full {
            width: 100%;
        }
    }
}

.form-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px 0;
    background-color: #2d26ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 0 8px 8px;
}

.form-btn:hover {
    background-color: #5289ff;
}

.text {
    width: 500px;
}
