:root {
    --border: #dbbeb2;
}

.shop_index--heading {

    .heading__top-bar {
        background-color: #e66f00;
        padding: 4px 0;
    }

    .top-bar__inner {
        max-width: 1360px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        color: white;

        form {
            display: inline;
        }

        button {
            color: white;
            border: none;
            background: none;
            text-decoration: underline;
            margin-left: 12px;
        }
    }

    >p {
        text-align: center;
        font-size: 16px;
        color: white;
        padding: 4px 0;
        background-color: #e66f00;
    }
}

.heading__navbar {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    max-width: 1360px;
    margin: 0 auto;
}

.btn__admin-menu {
    border: solid 1px rgb(105, 105, 105);
    border-radius: 2px;
    background-color: #ececec;
    padding: 2px 8px;
    text-decoration: none;
    color: black;
    margin: 0 12px;
}

.shop_index__inner {
    max-width: 1360px;
    margin: 0 auto;
}

.shop_index__table {
    width: 100%;
    border: solid 1px var(--border);
    border-collapse: collapse;
}

.table-row {
    >th {
        height: 70px;
        background-color: rgb(255, 164, 103);
    }

    >td {
        padding: 32px 0;
        text-align: center;
        border: solid 1px var(--border);
    }

    .td__id {
        width: 5%;
    }

    .td__area_name {
        width: 10%;
    }

    .td__genre_name {
        width: 10%;
    }

    .td__shop_description {
        width: 30%;
        text-align: left;
        padding: 0 40px;
    }

    .td__shop_image {
        width: 20%;
    }

    .td__setting {
        width: 10%;
    }
}

.shop_image__image {
    width: 90%;
    margin: 0 auto;

    >img {
        width: 100%;
        object-fit: cover;
        vertical-align: middle;
    }
}

.table-data:nth-of-type(even) {
    background-color: #fff6ed;
}

.btn__update_shop {
    background-color: rgb(37, 140, 224);
    border: solid 1px rgb(105, 105, 105);
    border-radius: 4px;
    color: white;
    margin: 4px 0;
}

.btn__delete_shop {
    background-color: rgb(245, 76, 76);
    border: solid 1px rgb(105, 105, 105);
    border-radius: 4px;
    color: white;
    margin: 4px 0;
}

.btn__confirm_reservations {
    background-color: rgb(0, 170, 105);
    border: solid 1px rgb(105, 105, 105);
    border-radius: 4px;
    color: white;
    margin: 4px 0;
}
