:root {
    --border: #dbbeb2;
}

.shop_index__inner {
    max-width: 1360px;
    margin: 0 auto;
}

.shop_index__table {
    width: 100%;
    border: solid 1px var(--border);
    border-collapse: collapse;
}

.table-row {
    >th {
        height: 70px;
        background-color: rgb(255, 164, 103);
    }

    >td {
        padding: 32px 0;
        text-align: center;
        border: solid 1px var(--border);
    }

    .td__id {
        width: 5%;
    }

    .td__area_name {
        width: 10%;
    }

    .td__genre_name {
        width: 15%;
    }

    .td__shop_description {
        width: 30%;
        text-align: left;
        padding: 0 40px;
    }

    .td__shop_image {
        width: 20%;
    }

    .td__setting{
       width: 10%;
    }
}

.shop_image__image {
    width: 90%;
    margin: 0 auto;

    >img {
        width: 100%;
        object-fit: cover;
        vertical-align: middle;
    }
}

.table-data:nth-of-type(even) {
    background-color: #fff6ed;
}
